Azure/Web_support_live/pipeline/Web.json
{
    "name": "Web",
    "properties": {
        "activities": [
            {
                "name": "Web1",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "https://asakeyvaultg3xbtcv.vault.azure.net/secrets/PipelineSecret/98cdf4369e1047b0b8d8f03397afdec8?api-version=7.1",
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "Vaiable",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Web1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "SecretValue",
                    "value": {
                        "value": "@activity('Web1').output.value",
                        "type": "Expression"
                    }
                }
            }
        ],
        "variables": {
            "SecretValue": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2022-12-09T16:57:30Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}